<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiapp454fa0f32a954e0a8fc8b56746f1a46a.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiapp454fa0f32a954e0a8fc8b56746f1a46a.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiApp454fa0f32a954e0a8fc8b56746f1a46a</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>demoandroid</AppServiceName>
    <ResourceGroupName>tomcol</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiApp454fa0f32a954e0a8fc8b56746f1a46a</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="InstituteEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=yeidabd.database.windows.net;Initial Catalog=app;Persist Security Info=True;User ID=yeidabd20;Password=yeidabd@2020;Application Name=EntityFramework" Name="Data Source=yeidabd.database.windows.net;Initial Catalog=app;Persist Security Info=True;User ID=yeidabd20;Password=yeidabd@2020;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAPI.Models.InstituteEntities, WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InstituteEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Institute.csdl|res://*/Models.Institute.ssdl|res://*/Models.Institute.msl;provider=System.Data.SqlClient;provider connection string="Data Source=yeidabd.database.windows.net;Initial Catalog=app;Persist Security Info=True;User ID=yeidabd20;Password=yeidabd@2020;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>